@tailwind base;
@tailwind components;
@tailwind utilities;

.border {
    border: 3px solid black;
}

.border-bottom {
    border-bottom: 3px solid black;
}

.drum-machine {
    @apply flex flex-col justify-center items-center min-w-fit bg-white pb-10 border;
}

.title {
    @apply text-xl text-center w-100% font-bold;
}

.display {
    @apply mt-5;
}

.toggle-container {
    @apply flex mt-5;
}

.toggle-square {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.left-toggle {
    @apply w-1/2 text-center;
}

.right-toggle {
    @apply w-1/2 ml-10 text-center;
}

.toggle-title {
    @apply text-lg font-medium;
}

.volume {
    @apply mt-5;
}

.volume-title {
    @apply text-lg font-medium text-center;
}

.volume-range {
    @apply w-full accent-gray-500;
}

.button-container {
    @apply w-full mt-10 ml-10 mr-10 flex flex-wrap justify-center items-center;
}

.drum-pad {
    @apply w-1/4 p-5 ml-1 mb-1 text-center text-2xl border cursor-pointer;
}

/* .drum-pad:active {
    @apply bg-black text-white;
} */