body {
  height: 100vh;
  width: 100vw;
  font-family: 'Big Shoulders Display', cursive!important;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: repeating-linear-gradient(
    90deg,
    #9999ff,
    #9999ff 10px,
    #b1b1ff 10px,
    #b1b1ff 20px
  );

}

/* .root {
  height: 100vh;
  width: 100vw;
} */

/* Webkit browsers */
::-webkit-scrollbar {
  width: 18px;
  background-color: darkgray;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 3px solid black;
}

/* Other browsers */
body::-webkit-scrollbar {
  width: 18px;
  background-color: darkgray;
}

body::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: darkgray;
}
